.calendar-container {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: var(--pmntcode-border-radius);
    padding: 20px;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-header button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.calendar-header button:hover {
    color: #666;
}

.year-selector select {
    width: auto;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
}

.calendar-table th {
    border-bottom: 2px solid #ccc;
    padding: 5px;
    text-align: center;
}

.calendar-table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.calendar-table td:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}