:root {
    --pmntcode-primary-background: #0F68A3;
    --pmntcode-primary-background-hover: #0C5281;
    --pmntcode-primary-color: #FFFFFF;
    --pmntcode-secondary-color: #4E6D83;
    --pmntcode-secondary-color-hover: #133C59;
    --pmntcode-danger-color: #AB3C32;
    --pmntcode-danger-color-hover: #893028;
    --pmntcode-contrast-color: #282F33;
    --pmntcode-contrast-color-hover: #000000;
    --pmntcode-font-family: 'Roboto', sans-serif;
    --pmntcode-body-font-size: 1rem;
    --pmntcode-body-font-weight: 400;
    --pmntcode-body-line-height: 1.5;
    --pmntcode-body-color: #212529;
    --pmntcode-body-background: var(--pmntcode-primary-color);
    --pmntcode-border-style: solid;
    --pmntcode-border-width: 1px;
    --pmntcode-border-color: #CFDBE2;
    --pmntcode-border-radius: 0.25rem;
    --pmntcode-template-header-background: var(--pmntcode-primary-background);
    --pmntcode-template-header-color: var(--pmntcode-primary-color);
    --pmntcode-template-sidebar-background: var(--pmntcode-body-background);
    --pmntcode-button-background: var(--pmntcode-primary-color);
    --pmntcode-button-border-color: var(--pmntcode-primary-color);
    --pmntcode-button-color: var(--pmntcode-body-color);

    --typography-spacing-vertical: 1.25rem;
    --pmntcode-spacing: 0.625rem;
    --pmntcode-block-spacing-vertical: calc(var(--pmntcode-spacing) * 2);
    --block-spacing-horizontal: var(--pmntcode-spacing);
    --pmntcode-block-spacing-vertical: calc(var(--pmntcode-spacing) * 2);
    --block-spacing-horizontal: var(--pmntcode-spacing);
    --pmntcode-button-color: var(--pmntcode--background-color);
    --pmntcode-button-text-color: var(--pmntcode--color);
    --card-background-color: var(--background-color);
    --pmntcode-card-border-color: var(--pmntcode-border-color);
    --pmntcode-form-element-spacing-horizontal: 1rem;
    --pmntcode-form-element-spacing-vertical: 0.75rem;
    --pmntcode-form-element-background-color: var(--background-color);
    --pmntcode-form-element-border-color: var(--pmntcode-card-border-color);
    --pmntcode-form-element-color: var(--pmntcode-body-color);
    --template-content-background: #F2F2F2;
    --pmntcode-content-header-background: #f5f8fa;
    --pmntcode-icon-chevron: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    --pmntcode-icon-calendar_today: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Z"/%3E%3C/svg%3E');
    --pmntcode-icon-expand_less: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="m296-345-56-56 240-240 240 240-56 56-184-184-184 184Z"/%3E%3C/svg%3E');
    --pmntcode-icon-expand_more: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"/%3E%3C/svg%3E');
    --pmntcode-icon-contacts: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="M160-40v-80h640v80H160Zm0-800v-80h640v80H160Zm320 400q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm70-80h500q-45-56-109-88t-141-32q-77 0-141 32t-109 88Z"/%3E%3C/svg%3E');
    --pmntcode-icon-navigate_before: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/%3E%3C/svg%3E');
    --pmntcode-icon-inventory: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="M620-163 450-333l56-56 114 114 226-226 56 56-282 282Zm220-397h-80v-200h-80v120H280v-120h-80v560h240v80H200q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h167q11-35 43-57.5t70-22.5q40 0 71.5 22.5T594-840h166q33 0 56.5 23.5T840-760v200ZM480-760q17 0 28.5-11.5T520-800q0-17-11.5-28.5T480-840q-17 0-28.5 11.5T440-800q0 17 11.5 28.5T480-760Z"/%3E%3C/svg%3E');
    --pmntcode-icon-corporate_fare: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="M80-120v-720h400v160h400v560H80Zm80-80h240v-80H160v80Zm0-160h240v-80H160v80Zm0-160h240v-80H160v80Zm0-160h240v-80H160v80Zm320 480h320v-400H480v400Zm80-240v-80h160v80H560Zm0 160v-80h160v80H560Z"/%3E%3C/svg%3E');
    --pmntcode-icon-menu: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/%3E%3C/svg%3E');
    --pmntcode-icon-navigate_next: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/%3E%3C/svg%3E');
    --pmntcode-icon-delete: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm80-160h80v-360h-80v360Zm160 0h80v-360h-80v360Z"/%3E%3C/svg%3E');
}