@import "./reset";
@import "./variables";
@import "./grid";
@import "./typography";
@import "./icon";
@import "./template-header";
@import "./template-content";
@import "./template-sidebar";
@import "./sidebar-menu";
@import "./calendar";
@import "./form";
@import "./custom-file";
@import "./elements/button";
@import "./components/article";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--pmntcode-font-family);
    font-size: var(--pmntcode-body-font-size);
    color: var(--pmntcode-body-color);
    min-height: 100%;
}

.template-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100%;
}

.template-content-container {
    display: flex;
    flex: 1;
}

.content-header {
    background-color: var(--pmntcode-content-header-background);
    padding: 20px;
    padding-bottom: 40px;
    min-height: 100px;
    border-bottom-style: var(--pmntcode-border-style);
    border-bottom-width: var(--pmntcode-border-width);
    border-bottom-color: #cfd8dc;
}

.content-header-title {
    margin-top: 0;
    margin-bottom: 1.25rem;
}

.content-body {
    background-color: var(--pmntcode-body-background);
    border-style: var(--pmntcode-border-style);
    border-width: var(--pmntcode-border-width);
    border-color: var(--pmntcode-border-color);
    border-radius: var(--pmntcode-border-radius);
    width: calc(100% - 40px);
    min-height: 100vh;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    z-index: 9999;
    padding: 20px;
}

.sidebar-toggle {
    --pmntcode-button-background: var(--pmntcode-primary-background);
    --pmntcode-button-border-color: var(--pmntcode-primary-background);
    --pmntcode-button-color: var(--pmntcode-primary-color);
    margin-bottom: 0;
    padding-right: 0;
}

.sidebar-toggle i {
    background-color: white;
}

@media (min-width: 992px) {
    .sidebar-toggle {
        display: none;
    }
}