:root {
  --pmntcode-primary-background: #0F68A3;
  --pmntcode-primary-background-hover: #0C5281;
  --pmntcode-primary-color: #FFFFFF;
  --pmntcode-secondary-color: #4E6D83;
  --pmntcode-secondary-color-hover: #133C59;
  --pmntcode-danger-color: #AB3C32;
  --pmntcode-danger-color-hover: #893028;
  --pmntcode-contrast-color: #282F33;
  --pmntcode-contrast-color-hover: #000000;
  --pmntcode-font-family: "Roboto", sans-serif;
  --pmntcode-body-font-size: 1rem;
  --pmntcode-body-font-weight: 400;
  --pmntcode-body-line-height: 1.5;
  --pmntcode-body-color: #212529;
  --pmntcode-body-background: var(--pmntcode-primary-color);
  --pmntcode-border-style: solid;
  --pmntcode-border-width: 1px;
  --pmntcode-border-color: #CFDBE2;
  --pmntcode-border-radius: 0.25rem;
  --pmntcode-template-header-background: var(--pmntcode-primary-background);
  --pmntcode-template-header-color: var(--pmntcode-primary-color);
  --pmntcode-template-sidebar-background: var(--pmntcode-body-background);
  --pmntcode-button-background: var(--pmntcode-primary-color);
  --pmntcode-button-border-color: var(--pmntcode-primary-color);
  --pmntcode-button-color: var(--pmntcode-body-color);
  --typography-spacing-vertical: 1.25rem;
  --pmntcode-spacing: 0.625rem;
  --pmntcode-block-spacing-vertical: calc(var(--pmntcode-spacing) * 2);
  --block-spacing-horizontal: var(--pmntcode-spacing);
  --pmntcode-block-spacing-vertical: calc(var(--pmntcode-spacing) * 2);
  --block-spacing-horizontal: var(--pmntcode-spacing);
  --pmntcode-button-color: var(--pmntcode--background-color);
  --pmntcode-button-text-color: var(--pmntcode--color);
  --card-background-color: var(--background-color);
  --pmntcode-card-border-color: var(--pmntcode-border-color);
  --pmntcode-form-element-spacing-horizontal: 1rem;
  --pmntcode-form-element-spacing-vertical: 0.75rem;
  --pmntcode-form-element-background-color: var(--background-color);
  --pmntcode-form-element-border-color: var(--pmntcode-card-border-color);
  --pmntcode-form-element-color: var(--pmntcode-body-color);
  --template-content-background: #F2F2F2;
  --pmntcode-content-header-background: #f5f8fa;
  --pmntcode-icon-chevron: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  --pmntcode-icon-calendar_today: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Z"/%3E%3C/svg%3E');
  --pmntcode-icon-expand_less: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="m296-345-56-56 240-240 240 240-56 56-184-184-184 184Z"/%3E%3C/svg%3E');
  --pmntcode-icon-expand_more: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"/%3E%3C/svg%3E');
  --pmntcode-icon-contacts: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="M160-40v-80h640v80H160Zm0-800v-80h640v80H160Zm320 400q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35ZM160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm70-80h500q-45-56-109-88t-141-32q-77 0-141 32t-109 88Z"/%3E%3C/svg%3E');
  --pmntcode-icon-navigate_before: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/%3E%3C/svg%3E');
  --pmntcode-icon-inventory: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="M620-163 450-333l56-56 114 114 226-226 56 56-282 282Zm220-397h-80v-200h-80v120H280v-120h-80v560h240v80H200q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h167q11-35 43-57.5t70-22.5q40 0 71.5 22.5T594-840h166q33 0 56.5 23.5T840-760v200ZM480-760q17 0 28.5-11.5T520-800q0-17-11.5-28.5T480-840q-17 0-28.5 11.5T440-800q0 17 11.5 28.5T480-760Z"/%3E%3C/svg%3E');
  --pmntcode-icon-corporate_fare: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="M80-120v-720h400v160h400v560H80Zm80-80h240v-80H160v80Zm0-160h240v-80H160v80Zm0-160h240v-80H160v80Zm0-160h240v-80H160v80Zm320 480h320v-400H480v400Zm80-240v-80h160v80H560Zm0 160v-80h160v80H560Z"/%3E%3C/svg%3E');
  --pmntcode-icon-menu: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/%3E%3C/svg%3E');
  --pmntcode-icon-navigate_next: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"/%3E%3C/svg%3E');
  --pmntcode-icon-delete: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"%3E%3Cpath d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm80-160h80v-360h-80v360Zm160 0h80v-360h-80v360Z"/%3E%3C/svg%3E');
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.grid {
  display: block;
}

.grid__col {
  width: 100%;
}

@media (min-width: 992px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
  }
  .grid__col {
    flex: 1 0 0%;
    padding: 0.35rem 0.5rem;
    box-sizing: border-box;
  }
  .grid__col--width-12 {
    flex: 0 0 auto;
    width: calc(12 / 12 * 100%);
  }
  .grid__col--width-11 {
    flex: 0 0 auto;
    width: calc(11 / 12 * 100%);
  }
  .grid__col--width-10 {
    flex: 0 0 auto;
    width: calc(10 / 12 * 100%);
  }
  .grid__col--width-9 {
    flex: 0 0 auto;
    width: calc(9 / 12 * 100%);
  }
  .grid__col--width-8 {
    flex: 0 0 auto;
    width: calc(8 / 12 * 100%);
  }
  .grid__col--width-7 {
    flex: 0 0 auto;
    width: calc(7 / 12 * 100%);
  }
  .grid__col--width-6 {
    flex: 0 0 auto;
    width: calc(6 / 12 * 100%);
  }
  .grid__col--width-5 {
    flex: 0 0 auto;
    width: calc(5 / 12 * 100%);
  }
  .grid__col--width-4 {
    flex: 0 0 auto;
    width: calc(4 / 12 * 100%);
  }
  .grid__col--width-3 {
    flex: 0 0 auto;
    width: calc(3 / 12 * 100%);
  }
  .grid__col--width-2 {
    flex: 0 0 auto;
    width: calc(2 / 12 * 100%);
  }
  .grid__col--width-1 {
    flex: 0 0 auto;
    width: calc(1 / 12 * 100%);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--typography-spacing-vertical) 0;
  font-weight: var(--pmntcode-body-font-weight);
  font-size: var(--pmntcode-body-font-size);
}

h1 {
  --pmntcode-body-font-size: 2rem;
}

h2 {
  --pmntcode-body-font-size: 1.75rem;
}

h3 {
  --pmntcode-body-font-size: 1.5rem;
}

h4 {
  --pmntcode-body-font-size: 1.25rem;
}

h5 {
  --pmntcode-body-font-size: 1.125rem;
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
  padding: var(--pmntcode-form-element-spacing-vertical) var(--pmntcode-form-element-spacing-horizontal);
  border-radius: var(--pmntcode-border-radius);
  background-color: var(--pmntcode-button-background);
  border: var(--pmntcode-border-width) solid var(--pmntcode-button-border-color);
  color: var(--pmntcode-button-color);
  outline: 0;
  font-weight: var(--pmntcode-body-font-weight);
  font-size: var(--pmntcode-body-font-size);
  line-height: var(--pmntcode-body-line-height);
  text-align: center;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--pmntcode-spacing);
}

button i {
  line-height: 0 !important;
}

.--pmntcode-button-primary-color {
  --pmntcode-button-background: var(--pmntcode-primary-background);
  --pmntcode-button-border-color: var(--pmntcode-primary-background);
  --pmntcode-button-color: var(--pmntcode-primary-color);
}

.--pmntcode-button-primary-color i {
  background-color: white;
}

.--pmntcode-button-primary-color:hover {
  --pmntcode-button-background: var(--pmntcode-primary-background-hover);
  --pmntcode-button-border-color: var(--pmntcode-primary-background-hover);
}

.--pmntcode-button-secondary-color {
  --pmntcode-button-background: var(--pmntcode-secondary-color);
  --pmntcode-button-border-color: var(--pmntcode-secondary-color);
  --pmntcode-button-color: var(--pmntcode-primary-color);
}

.--pmntcode-button-secondary-color i {
  background-color: white;
}

.--pmntcode-button-secondary-color:hover {
  --pmntcode-button-background: var(--pmntcode-secondary-color-hover);
  --pmntcode-button-border-color: var(--pmntcode-secondary-color-hover);
}

.--pmntcode-button-contrast-color {
  --pmntcode-button-background: var(--pmntcode-contrast-color);
  --pmntcode-button-border-color: var(--pmntcode-contrast-color);
  --pmntcode-button-color: var(--pmntcode-primary-color);
}

.--pmntcode-button-contrast-color i {
  background-color: white;
}

.--pmntcode-button-contrast-color:hover {
  --pmntcode-button-background: var(--pmntcode-contrast-color-hover);
  --pmntcode-button-border-color: var(--pmntcode-contrast-color-hover);
}

.--pmntcode-button-danger-color {
  --pmntcode-button-background: var(--pmntcode-danger-color);
  --pmntcode-button-border-color: var(--pmntcode-danger-color);
  --pmntcode-button-color: var(--pmntcode-primary-color);
}

.--pmntcode-button-danger-color i {
  background-color: white;
}

.--pmntcode-button-danger-color:hover {
  --pmntcode-button-background: var(--pmntcode-danger-color-hover);
  --pmntcode-button-border-color: var(--pmntcode-danger-color-hover);
}

.pmntcode-icon {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  background-color: var(--pmntcode-body-color);
  display: inline-block;
  width: 24px;
  height: 24px;
}

.pmntcode-icon--calendar_today {
  -webkit-mask-image: var(--pmntcode-icon-calendar_today);
  mask-image: var(--pmntcode-icon-calendar_today);
}

.pmntcode-icon--expand_less {
  -webkit-mask-image: var(--pmntcode-icon-expand_less);
  mask-image: var(--pmntcode-icon-expand_less);
}

.pmntcode-icon--expand_more {
  -webkit-mask-image: var(--pmntcode-icon-expand_more);
  mask-image: var(--pmntcode-icon-expand_more);
}

.pmntcode-icon--contacts {
  -webkit-mask-image: var(--pmntcode-icon-contacts);
  mask-image: var(--pmntcode-icon-contacts);
}

.pmntcode-icon--inventory {
  -webkit-mask-image: var(--pmntcode-icon-inventory);
  mask-image: var(--pmntcode-icon-inventory);
}

.pmntcode-icon--corporate_fare {
  -webkit-mask-image: var(--pmntcode-icon-corporate_fare);
  mask-image: var(--pmntcode-icon-corporate_fare);
}

.pmntcode-icon--menu {
  -webkit-mask-image: var(--pmntcode-icon-menu);
  mask-image: var(--pmntcode-icon-menu);
}

.pmntcode-icon--navigate_before {
  -webkit-mask-image: var(--pmntcode-icon-navigate_before);
  mask-image: var(--pmntcode-icon-navigate_before);
}

.pmntcode-icon--navigate_next {
  -webkit-mask-image: var(--pmntcode-icon-navigate_next);
  mask-image: var(--pmntcode-icon-navigate_next);
}

.pmntcode-icon--delete {
  -webkit-mask-image: var(--pmntcode-icon-delete);
  mask-image: var(--pmntcode-icon-delete);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--pmntcode-font-family);
  font-size: var(--pmntcode-body-font-size);
  color: var(--pmntcode-body-color);
  min-height: 100%;
}

.template-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100%;
}

.template-header {
  background-color: var(--pmntcode-template-header-background);
  color: var(--pmntcode-template-header-color);
  min-height: 60px;
  display: flex;
  align-items: center;
}

.template-header a {
  color: var(--pmntcode-template-header-color);
  text-decoration: none;
  padding: 20px;
  display: block;
}

.template-content-container {
  display: flex;
  flex: 1;
}

.template-sidebar {
  background-color: var(--pmntcode-template-sidebar-background);
  border-right-style: var(--pmntcode-border-style);
  border-right-width: var(--pmntcode-border-width);
  border-right-color: var(--pmntcode-border-color);
  flex: 0 0 280px;
  display: none;
}

.template-content-container.sidebar-active .template-content {
  display: none;
}

.template-content-container.sidebar-active .template-sidebar {
  flex: 0 0 100%;
  display: block;
}

.sidebar-title {
  padding: 20px;
  margin: 0;
}

.sidebar-menu {
  border-top-style: var(--pmntcode-border-style);
  border-top-width: var(--pmntcode-border-width);
  border-top-color: var(--pmntcode-border-color);
}

.sidebar-menu li {
  border-bottom-style: var(--pmntcode-border-style);
  border-bottom-width: var(--pmntcode-border-width);
  border-bottom-color: var(--pmntcode-border-color);
}

.sidebar-menu li a {
  color: var(--pmntcode-primary-background);
  padding: 15px 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar-menu li .sidebar-menu a {
  padding: 15px 40px;
}

.sidebar-menu li a i {
  margin: 0 0.625rem;
  background-color: var(--pmntcode-primary-background);
}

.sidebar-menu li a:hover {
  background-color: var(--template-content-background);
}

.submenu {
  display: none;
}

.sidebar-menu .has-submenu.active .arrow .pmntcode-icon {
  -webkit-mask-image: var(--pmntcode-icon-expand_less);
  mask-image: var(--pmntcode-icon-expand_less);
}

.sidebar-menu .has-submenu .arrow .pmntcode-icon {
  -webkit-mask-image: var(--pmntcode-icon-expand_more);
  mask-image: var(--pmntcode-icon-expand_more);
}

.sidebar-menu .has-submenu.active .submenu {
  display: block;
}

.template-content {
  flex: 1;
  position: relative;
  min-height: 100vh;
  background-color: var(--template-content-background);
}

.content-header {
  background-color: var(--pmntcode-content-header-background);
  padding: 20px;
  padding-bottom: 40px;
  min-height: 100px;
  border-bottom-style: var(--pmntcode-border-style);
  border-bottom-width: var(--pmntcode-border-width);
  border-bottom-color: #cfd8dc;
}

.content-header-title {
  margin-top: 0;
  margin-bottom: 1.25rem;
}

.content-body {
  background-color: var(--pmntcode-body-background);
  border-style: var(--pmntcode-border-style);
  border-width: var(--pmntcode-border-width);
  border-color: var(--pmntcode-border-color);
  border-radius: var(--pmntcode-border-radius);
  width: calc(100% - 40px);
  min-height: 100vh;
  margin-top: -40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  z-index: 9999;
  padding: 20px;
}

.submenu-toggle {
  position: relative;
}

.submenu-toggle .arrow {
  position: absolute;
  right: 10px;
}

input:not([type=checkbox], [type=radio], [type=range], [type=file]),
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: var(--pmntcode-form-element-spacing-vertical) var(--pmntcode-form-element-spacing-horizontal);
}

input,
select,
textarea {
  --background-color: var(--pmntcode-form-element-background-color);
  --color: var(--pmntcode-form-element-color);
  border-width: var(--pmntcode-border-width);
  border-style: var(--pmntcode-border-style);
  border-color: var(--pmntcode-border-color);
  border-radius: var(--pmntcode-border-radius);
  outline: 0;
  background-color: var(--background-color);
  color: var(--pmntcode-body-color);
  font-weight: var(--pmntcode-body-font-weight);
  font-size: var(--pmntcode-body-font-size);
  line-height: var(--pmntcode-body-line-height);
  width: 100%;
  margin-bottom: var(--pmntcode-spacing);
}

select:not([multiple], [size]) {
  padding-right: calc(var(--pmntcode-form-element-spacing-horizontal) + 1.5rem);
  padding-left: var(--pmntcode-form-element-spacing-horizontal);
  padding-inline-start: var(--pmntcode-form-element-spacing-horizontal);
  padding-inline-end: calc(var(--pmntcode-form-element-spacing-horizontal) + 1.5rem);
  background-image: var(--pmntcode-icon-chevron);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem 0.75rem;
}

textarea {
  min-height: 6.25rem;
}

.sidebar-toggle {
  --pmntcode-button-background: var(--pmntcode-primary-background);
  --pmntcode-button-border-color: var(--pmntcode-primary-background);
  --pmntcode-button-color: var(--pmntcode-primary-color);
  margin-bottom: 0;
}

.sidebar-toggle i {
  background-color: white;
}

@media (min-width: 992px) {
  .template-sidebar {
    display: block !important;
    flex: 0 0 280px !important;
  }
  .template-content {
    display: block !important;
  }
  .sidebar-toggle {
    display: none;
  }
}
article {
  margin: var(--pmntcode-block-spacing-vertical) 0;
  padding: var(--pmntcode-block-spacing-vertical) var(--block-spacing-horizontal);
  border-radius: var(--pmntcode-border-radius);
  background-color: var(--pmntcode-primary-color);
  border-style: var(--pmntcode-border-style);
  border-width: var(--pmntcode-border-width);
  border-color: var(--pmntcode-border-color);
}

article > header,
article > footer {
  margin-right: calc(var(--block-spacing-horizontal) * -1);
  margin-left: calc(var(--block-spacing-horizontal) * -1);
  padding: calc(var(--pmntcode-block-spacing-vertical) * 0.66) var(--block-spacing-horizontal);
  background-color: var(--template-content-background);
  font-weight: 500;
}

article > header {
  margin-top: calc(var(--pmntcode-block-spacing-vertical) * -1);
  margin-bottom: var(--pmntcode-block-spacing-vertical);
  border-bottom: var(--pmntcode-border-width) solid var(--pmntcode-card-border-color);
  border-top-right-radius: var(--pmntcode-border-radius);
  border-top-left-radius: var(--pmntcode-border-radius);
}

article > footer {
  margin-top: var(--pmntcode-block-spacing-vertical);
  margin-bottom: calc(var(--pmntcode-block-spacing-vertical) * -1);
  border-bottom: var(--pmntcode-border-width) solid var(--pmntcode-card-border-color);
  border-bottom-right-radius: var(--pmntcode-border-radius);
  border-bottom-left-radius: var(--pmntcode-border-radius);
}

label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.calendar-container {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: var(--pmntcode-border-radius);
  padding: 20px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.calendar-header button:hover {
  color: #666;
}

.year-selector select {
  width: auto;
}

.calendar-table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-table th {
  border-bottom: 2px solid #ccc;
  padding: 5px;
  text-align: center;
}

.calendar-table td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: center;
}

.calendar-table td:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  margin-bottom: var(--pmntcode-spacing);
}

.input-group * {
  margin-bottom: 0;
}

.input-group-text {
  --background-color: var(--pmntcode-form-element-background-color);
  --pmntcode-border-color: var(--pmntcode-form-element-border-color);
  padding: var(--pmntcode-form-element-spacing-vertical) var(--pmntcode-form-element-spacing-horizontal);
  background-color: var(--template-content-background);
  border-width: var(--pmntcode-border-width);
  border-style: var(--pmntcode-border-style);
  border-color: var(--pmntcode-border-color);
  border-radius: var(--pmntcode-border-radius);
  color: var(--pmntcode-body-color);
  outline: 0;
  font-weight: var(--pmntcode-body-font-weight);
  font-size: var(--pmntcode-body-font-size);
  line-height: var(--pmntcode-body-line-height);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.input-group-text:not(:last-child) {
  border-right-width: 0;
}

.input-group-text:not(:first-child) {
  border-left-width: 0;
}

.input-group > :not(:last-child) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.input-group > :not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input-group input {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

.input-group button {
  width: auto;
}

.custom-file {
  position: relative;
  display: inline-block;
  width: auto;
}

.custom-file-input {
  position: absolute;
  left: -9999px;
}

.custom-file-label {
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: normal;
  color: #495057;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 5px;
  cursor: pointer;
}

.file-names {
  display: block;
  font-size: 16px;
}

.remove-button {
  margin-bottom: 0;
}

.remove-button i {
  background-color: var(--pmntcode-danger-color);
}

/*# sourceMappingURL=main.css.map */
